name: "Unix build"

concurrency:
  # for PR's cancel the running task, if another commit is pushed
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

on:
  # build on PR and push-to-main. This works for short-lived branches, and saves
  # CPU cycles on duplicated tests.
  # For long-lived branches that diverge, you'll want to run on all pushes, not
  # just on push-to-main.
  pull_request: {}
  push:
    branches:
    - master


jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        luaVersion: ["5.1", "5.2", "5.3", "5.4", "5.5", "luajit-2.1.0-beta3", "luajit-openresty"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: luarocks/gh-actions-lua@master
        with:
          luaVersion: ${{ matrix.luaVersion }}

      - uses: luarocks/gh-actions-luarocks@master
        with:
          luaRocksVersion: "3.13.0"

      - name: dependencies
        run: |
          make dev
          luarocks install luacov-coveralls

      - name: test
        run: |
          make testinst BUSTED='--coverage --Xoutput "--color"'

      - name: Report test coverage
        if: success()
        continue-on-error: true
        run: luacov-coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ github.token }}
